<div class="filters">
    <app-select [isCleared]="isCleared" (value)="onAccountSelect($event)"></app-select>
    <app-date-range [isCleared]="isCleared" (dateRange)="onDateRangeSelect($event)"></app-date-range>
    <app-range [isCleared]="isCleared" (rangeSelector)="onLoanRangeSelect($event)"></app-range>
    <button (click)="onApplyFilters()" [disabled]="!filterCriteria?.filterAdded">Apply Filters</button>
    <button (click)="onClear()" [disabled]="!filterCriteria.filterAdded">Clear All</button>
</div>


<div class="card-wrapper">
<ng-container *ngIf="data && data.length; else nodata">
<ng-container *ngFor="let item of data;let i=index">
    <app-card [cardData]="item" [imageIdentifier]="i" (click)="toCompanyDetail(item.companyName)"></app-card>
</ng-container>
</ng-container>
<ng-template #nodata>
 No Data Found!
</ng-template>
</div>