.login-container{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    
    .login-form{
        width : 50%;
        height: 50%;
        padding: 60px;
        background-color: azure;
        .example-container{
            mat-form-field{
                width : 300px;
                margin: 10px;
            }
        }
        button{
            margin: 10px;
            width: 100px;
            height: 40px;
        }
    }
    .login-display{
        width : 50%;
        height: 50%;
        img{
            width: 100%;
            height: 100%;
        }
    }

}

@media only screen and (max-width: 750px) {
    
.login-container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    
    .login-form{
        width : 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .example-container{
            mat-form-field{
                width : 250px;
                margin: 10px;
            }
        }
        button{
        }
    }
    .login-display{
        width : 100%;
        height: 50%;
        img{
            width: 100%;
            height: 100%;

        }
    }

}
}
