.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    mat-card{
        width: 700px;
        img{
            width: 700px;
        }
    }
}

@media only screen and (max-width: 710px) {
    .container{
    mat-card{
        width: 500px;
        img{
            width: 500px;
        }
    }
 }
}

@media only screen and (max-width: 530px) {
    .container{
        mat-card{
            width: 400px;
            img{
                width: 400px;
            }
        }
     }
}

@media only screen and (max-width: 410px) {
    .container{
        mat-card{
            width: 300px;
            img{
                width: 300px;
            }
        }
     }
}